[submodule "lvector"]
	path = lvector
	url = git@github.com:LeandreBl/lvector.git
[submodule "csfml-scenes"]
	path = csfml-scenes
	url = git@github.com:LeandreBl/csfml-scenes.git
[submodule "arguments-handler"]
	path = arguments-handler
	url = git@github.com:LeandreBl/arguments-handler.git
[submodule "Custom-libc"]
	path = Custom-libc
	url = git@github.com:LeandreBl/Custom-libc.git
[submodule "C-dynamic-arrays"]
	path = C-dynamic-arrays
	url = git@github.com:LeandreBl/C-dynamic-arrays.git
[submodule "C-string"]
	path = C-string
	url = git@github.com:LeandreBl/C-string.git
